body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* NAVBAR */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-social i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;
  display: flex;
  background-color: #ebebeb;
  height: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* CARDS */
/* .card-body {
    border: none !important;
} */

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
}

.card-text p {
  padding: 0;
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
  color: black;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* NEW PAGE */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* EDIT PAGE */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* SHOW PAGE */
.show-img {
  height: 40vh;
}

.btns {
  display: flex;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem !important;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Preview Image */
.custom-image {
  width: 250px;
  height: 150px;
  /* border: 2px solid #007bff; */
  border-radius: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Map */
/* #map {
  height: 370px;
  width: 120vh;
} */

#map-container {
  width: 100%;
  max-width: 100%;
  height: 400px; /* Adjust height as needed */
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Custom black marker style */
.custom-black-marker .black-marker {
  width: 32px;
  height: 32px;
  background-color: black; /* Marker color */
  border-radius: 50%;
  border: 2px solid white; /* Optional: border color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Optional: shadow for effect */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
